/* fonts */
@font-face {
  font-family: "Aleo-Bold";
  src: url(../fonts/Aleo/Aleo-Bold.ttf);
}
@font-face {
  font-family: "Aleo-Italic";
  src: url(../fonts/Aleo/Aleo-Italic.ttf);
}
@font-face {
  font-family: "Aleo-Regular";
  src: url(../fonts/Aleo/Aleo-Regular.ttf);
}
@font-face {
  font-family: "Magra-Bold";
  src: url(../fonts/Magra/Magra-Bold.ttf);
}
@font-face {
  font-family: "RedHatText-Medium";
  src: url(../fonts/Red_Hat_Text/RedHatText-Medium.ttf);
}
@font-face {
  font-family: "RedHatText-Regular";
  src: url(../fonts/Red_Hat_Text/RedHatText-Regular.ttf);
}
/* root */
:root {
  /* foonts */
  --a-font: "Aleo-Bold", serif;
  --b-font: "Aleo-Italic", serif;
  --c-font: "Aleo-Regular", serif;
  --d-font: "Magra-Bold", serif;
  --e-font: "RedHatText-Medium", serif;
  --f-font: "RedHatText-Regular", serif;

  --a-color: #ffffff;
  --b-color: #0d606f;
  --c-color: rgba(242, 120, 92, 0.7);
  --d-color: #f2785c;
  --pane-padding: 5px 42px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  line-height: 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  background-image: url("../img/bg.png");
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  background-color: var(--c-color);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.logo__section {
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 25px;
}
.logo__section-text {
  font-size: 3.2rem;
  margin-left: 6px;
  color: var(--a-color);
  font-family: var(--d-font);
}
.logo__section-img {
  margin-bottom: 4px;
}
.menu__section {
  display: flex;
  color: var(--a-color);
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: 0.4px;
  font-family: var(--f-font);
  margin-left: 167px;
  margin-top: 3px;
}
.button-main {
  display: inline-block;
  background-color: var(--b-color);
  color: var(--a-color);
  font-family: var(--e-font);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}
.menu__section li:nth-last-child(n + 2) {
  margin-right: 42px;
}
.button-header {
  padding: 11px 30px 10px 30px;
  margin-top: 3px;
  margin-left: 198px;
  font-size: 1.6rem;
}
.hero__title {
  color: var(--a-color);
  font-size: 8rem;
  font-family: var(--a-font);
  line-height: 9.6rem;
  margin: 0;
  margin-bottom: 34px;
}
.hero__subtitle {
  color: var(--a-color);
  font-size: 2rem;
  font-family: var(--b-font);
  font-weight: 700;
  margin-bottom: 46px;
  margin-right: 2px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.hero {
  max-width: 892px;
  margin-left: 120px;
  margin-top: 32px;
}
.search {
  position: relative;
}

.input__hero-search {
  background: rgba(255, 255, 255, 0.7);
  min-height: 95px;
  min-width: 892px;
  border-radius: 16px;
  border: none;
}
.input__hero-search::placeholder {
  color: var(--d-color);
  font-size: 2.4rem;
  font-family: var(--b-font);
  padding-top: 32px;
  padding-left: 41px;
}
.input__hero-submit {
  border: none; /* Убираем рамку */
  background-color: var(--b-color);
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 2.4rem;
  padding: 16px 32.5px;
}
.hero__search {
  margin-bottom: 254px;
  display: inline-block;
}
.perfect-trip {
  text-align: center;
  margin-bottom: 97px;
}
.perfect-trip__title {
  padding-top: 80px;
  font-family: var(--e-font);
  font-size: 4rem;
  line-height: 5.3rem;
  color: var(--d-color);
  font-weight: 500;
  padding-bottom: 40px;
}
.perfect-trip__icons {
  display: flex;
  justify-content: space-around;
}
.perfect-trip__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perfect-trip__icon {
  width: 100px;
  height: 100px;
  background-color: var(--d-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.perfect-trip__icon-1 {
  background-image: url(../img/svg/velo-icon.svg);
}
.perfect-trip__icon-2 {
  background-image: url(../img/svg/calend-icon.svg);
}
.perfect-trip__icon-3 {
  background-image: url(../img/svg/aero-icon.svg);
}
.perfect-trip__text {
  color: var(--b-color);
  font-size: 2rem;
  line-height: 2.4rem;
}
